SPA/obj/Release/net8.0/PubTmp/Out/wwwroot/bootstrap/bootstrap.min.css
SPA/obj/Release/net8.0/PubTmp/Out/wwwroot/bootstrap/bootstrap.min.css.map
.vscode/
SPA/.vs/SPA/FileContentIndex/4af19f95-e57b-4c2b-a61e-071eb4d87727.vsidx
SPA/.vs/SPA/FileContentIndex/6dbc6307-3b33-4c88-b2f2-f2973dbdf373.vsidx
SPA/.vs/SPA/FileContentIndex/29f798a1-d9b6-48c0-9dca-0cd32e95bdb5.vsidx
SPA/.vs/SPA/FileContentIndex/27943c36-2d53-4f3d-84fd-9507860dc25a.vsidx
SPA/.vs/SPA/FileContentIndex/e2633da1-cb2c-4a10-9ede-41c1045cd240.vsidx

# Build artifacts
bin/
obj/

# User-specific files
*.User

# Visual Studio Files
.vs/

SPA/Properties

# Web deploy/publish settings (optional)

WeatherApp/Properties/
Properties/PublishProfiles/

WeatherApp/Properties/ServiceDependencies

# Others
*.db
*.log
*.cache

SPA/local.settings.json
SPA/local.settings.Development.json
